html, title{
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: robot;
    src: url(/font/robot.ttf) format('truetype');
  }

body{
    margin: 0;
    background-color: black;
    background-image: url(/img/elliot-index.jpg) ;
    background-size: cover; /*hacer que la imagen ocupoe todo el contenedor*/
    background-attachment: fixed;
}

#header{
    margin: 0;
    background-color: black;
    color: whitesmoke;
    padding: auto;
    position: relative;
}

header div{
    justify-content: center;
    display: flex;
    padding: 3rem 0rem;
}

header div a{
    transition: color 0.5s ease;
    font-size: 2rem;
    position: relative;
    padding: 0 6%;
    color: whitesmoke;
    text-decoration: none;
    font-family: robot;
}

header div a:hover, .titleCharacter:hover{
    color: red;
}

section div{
    display: flex;
    position: relative;
    top: 23rem;
    justify-content: center;

}

#TEXT-MR-ROBOT-INDEX{
    font-family: robot;
    font-size: 9rem;
    color: red;
}

img{
    border-style: ridge;
    border-color: red;
    margin: 2rem 4rem;
    display: flex;

    /* hace que la imagen no se deforme */
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.article-text{
    border-style: ridge;
    border-color: red;
    background-color: black;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    display: flex;
    margin: 2rem 4rem;
    
}

.text{
    text-align: justify;
    color: whitesmoke;
    margin: 2rem 2rem;
}

.titleCharacter{
    text-align: justify;
    font-size: 2rem;
    color: whitesmoke;
    margin: 1rem 1rem;
    transition: color 0.4s ease;
}

.content{
    display: flex;
}

#serie-title{
    display: flex;
    justify-content: center;
}

.serie-title{
    font-family: robot;
    font-size: 3rem;
    color: red;

    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    margin: auto;
}

.serie-description{
    border-style: ridge;
    border-color: red;
    background-color: black;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    display: flex;
    justify-content: center;
}